* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0b0b1a; /* Un fond bleu nuit très sombre */
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
